<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Democracy Roadmap: Why and How to Get Out The Vote for Democrats in 2020</title>
    <meta name="description" content="Democracy Roadmap: Why and How to Get Out The Vote for Democrats in 2020">
    <meta name="author" content="Democracy Roadmap">
    <meta property="og:image" content="https://democracyroadmap.us/graph.png">
    <meta property="og:title" content="Democracy Roadmap: Why and How to Get Out The Vote for Democrats in 2020">
    <meta name="twitter:image:src" content="https://democracyroadmap.us/graph.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@DemocracyRdmp">
    <meta name="twitter:creator" content="@DemocracyRdmp">

    <style>
      svg {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <%= File.open('graph.svg').read %>
  </body>
</html>
