<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Democracy Roadmap</title>
    <style>
      svg {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <p>gold color = goals (things that improve democratic representation)</p>
    <%= File.open('graph.svg').read %>
  </body>
</html>
